body{
    margin-top: 5%;
    margin-left: 5%;
    background-color: aquamarine;
    font-family: 'Oleo Script Swash Caps', cursive;
}

.content{
    display: flex;
}

.flex-col{
    flex: 1;
    text-align: center;
}

button{
    font-style: italic;
}

.menu{
    font-size: 64px;
    background-color: beige;
    border: groove 6px;
    border-bottom: none;
    margin-left: 30%;
    margin-right: 5%;
    color: gray;
}

#todo-container{
    background-color: beige;
    margin-left: 30%;
    margin-right: 5%;
    font-weight: 400;
    color: gray;
    border: groove 4px;
    border-top: none;

}