.img{
    max-width: 100%;
}
.primary_header{
    display: flex;
}
h1{
    flex-grow:2
}
.menu ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li{
    margin: 0 1rem;
}
.post{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    box-sizing: border-box;
    
}