body {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.primary_header {
    display: flex;
}

h1 {
    flex-grow: 1;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu ul li {
    margin: 0 1rem;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    overflow: auto;
    width: 50%;
    box-sizing: border-box;
    padding: 0 1rem;
}