body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    -webkit-filter: invert(1);
    filter: invert(1);
  }

.hospital-name{
    font-family: angel wish;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2%;
}

.hospital-name h1{
    font-size: 52px;
    color:black;
}

a{
    text-decoration: none;
    color: black;
}

.hospital-name a{
    text-decoration: underline;
    color: blue;
    margin-right: 3%;
    margin-top: 2.5%;
    font-size: 24px;
}

.title{
    margin-top: 5%;
    margin-left: 2%;
    text-align: center;
}

.small{
    font-family: arno-pro,serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 150px;
    margin:0;
    padding: 0;
}
.header{
    font-family: arno-pro,serif;
    font-weight: 400;
    font-style: normal;    
    font-size: 260px;
    margin:0;
    padding: 0;
    line-height: 0.7;
}

.intro{
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    margin:0;
    font-size: 18px;
}

.nav{
    justify-content: center;
    margin:0;
}
.nav ul{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}
.nav ul li {
    margin: 0 1rem;
    font-size: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    border: 1px black solid;
    padding: 0.2rem;;
    background-color: white;
    
}

.nav ul li a:hover{
    border: 1px #C70808 solid;
    color:white;
    animation: effect 0.5s infinite;
    background-color: #C70808;
}

.rights{
text-align: center;
padding-top: 9%;
color: rgb(136, 136, 136);
}


@media (max-width:813px) {
.hospital-name h1{
    font-size: 28px;
}
.hospital-name a{
    font-size: 18px;
}
.title .small{
    font-size:55px;
    margin-top: 43%;
}
.title .header{
    font-size: 90px;
}
.intro{
    font-size: 12px;
    text-align: center;
}
.nav ul{
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
.nav ul li a{
    font-size: 16px;
    padding: 30px 5px;
    display: block;

}

.rights{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left:25%;
}
}
