
.primary{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    margin-left: 2%;
    margin-right: 2%;
    color: #AB0F0F;
}
.primary .first{
    color: black;
    overflow:auto;
}

.start{
font-family:roboto mono; 
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    margin-top: 10%;
    margin-left: 208px;
    color: black;
}

.paragraph{
    margin-top: 8%;
    font-family: Rockwell;
    padding-left: 15%;
    margin-bottom: 10%;

}
.line1{
    font-size: 36px;
    margin-top: 6%;

}
.line2{
    font-size: 24px;
    margin-right: 25%;

}

.line3{
    font-size: 36px;

}
.line4{
    font-size: 36px;

}
.line5{
    font-size: 64px;

}
.inside{
    font-size: 48px;
    margin: 0;

}
.line6{
    font-size: 24px;

}
.line7:hover{
    font-size: 36px;
    color: red;
    background-color: black;
}
.line8:hover{
    font-size: 24px;
    color: red;
    background-color: black;
}
.line9:hover{
    font-size: 64px;
    color: red;
    background-color: black;
}
.line10:hover{
    font-size: 24px;
    color: red;
    background-color: black;
}
.line11:hover{
    font-size: 48px;
    color: red;
    background-color: black;
}
.line12:hover{
    font-size: 64px;
    color: black;
    background-color: red;
}
.line13:hover{
    font-size: 24px;
    color: red;
    background-color: black;
}
.line14:hover{
    font-size: 36px;
    color: red;
    background-color: black;
}
.line15:hover{
    font-size: 24px;
    color: red;
    background-color: black;
}

@keyframes bigger {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 4;
    border: black 1px solid;
    border-radius: 50%;
}

.menu ul li {
    margin: 0 1rem;

}