
.content{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}

.right{
    display: flex;
    flex-direction: column;
}

.size{
    width: 410px;
    height: 260px;
    margin: 0;
    padding: 0;
    margin-top: 10%;
}

video{
    max-width: 100%;
    filter:invert();
}

video:hover{
    animation: bigger 0.8s infinite;
    filter:none;
}

@keyframes bigger {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
    
}