
.content{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
}

.left{
    display: flex;
    flex-direction: column;
    margin-right: 15%;
}

.right{
    display: flex;
    flex-direction: column;
}

.size{
    width: 310px;
    height: 200px;
    margin-top: 30%;
}

video{
    max-width: 100%;
}