body{
    background-position: top center;
    height: 100vh;
    margin:0;
    background-size: cover; 
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }
.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.call-to-action h1{
    font-family: roboto;
    color: white;
    font-size: 150px;
}

.call-to-action a{
    background-color: white;
    color: black;
    padding: 1rem;
    text-decoration: none;
    font-family: arpon;
    text-transform: uppercase;
}

@media (max-width: 813px){
    .call-to-action h1{
        font-size: 80px;
    }
}